@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .btn-info {
    @apply bg-gradient-to-r from-gray-900 to-primary text-white font-medium py-2 px-4 rounded-full transition-all duration-300 transform;
    /* @apply mt-auto w-full bg-gradient-to-r from-gray-900 to-primary text-white font-semibold py-3 px-6 rounded-lg transition-all duration-300 transform; */
  }
  .btn-info:hover {
    /* @apply bg-primary; */
    @apply from-primary to-gray-900;
  }

  .btn-info:focus {
    @apply outline-none ring-2 ring-blue-500 ring-offset-2;
  }
}

.modal-overlay.hidden {
  display: none;
}

.modal-overlay.flex {

  display: flex;
}

/* Video */
.parallax-wrapper {
  height: 150vh; /* cubre más que el alto de la ventana */
  top: -50vh; /* se adelanta para cubrir el inicio */
  pointer-events: none; /* evita capturar interacciones */
}

.parallax-inner {
  height: 100%;
  transform: translateY(0);
  will-change: transform;
}

/* Shape Divider */
.custom-shape-divider-bottom-1751421812 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1751421812 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1751421812 .shape-fill {
  fill: #020617;

}
