
<section>
  <div class="mx-auto mb-16 max-w-2xl text-center">
    <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">About us</h2>
  </div>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
      <div>
        <div class="max-w-lg md:max-w-none">
          <h2 class="text-2xl font-semibold text-gray-900 sm:text-3xl">
            Blue Planet, a spin-off of CNES ( the French Space Agency)
          </h2>

          <p class="mt-4 text-gray-700">
            The company was founded in 2009 by Jean Pierre Antikidis, former head of Space System Information  at CNES and data management international expert, Jean Jacques Favier, former NASA STS78 Astronaut and Director of innovation at CNES presently Professor and Chair of the Research Steering Committee at the International Space University.
Additional members of the team include:
- Bernard Plano, former head of Matra System Information (now Airbus) and highly skilled manager
- Michel Courtois, former Head of the French SPOT Earth Observing System and former head of ESA/ESTEC research center

Technical partners includes among others : Deimos Space (Spain), SCANEX (Russia), Satrec Initiative (Korea)
          </p>
        </div>
      </div>

      <div>
        <img
          src="https://images.unsplash.com/photo-1731690415686-e68f78e2b5bd?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          class="rounded"
          alt=""
        />
      </div>
    </div>
  </div>
</section>