<section>
  <div class="py-16">
    <div
      class="mx-auto mb-16 max-w-2xl text-center"
      data-aos="flip-down"
      data-aos-duration="1000"
    >
      <h2 class="text-5xl sm:text-7xl font-bold tracking-tight text-gray-900">
        Data
      </h2>
      <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 rounded-full bg-accent inline-flex"></div>
      </div>
      <p class="mt-4 text-lg text-gray-600">
        Blue Planet provides the fuel to modern digital economy
      </p>
    </div>

    <div class="flex flex-row items-center justify-center">
      <img
        src="images/big_data_globe.webp"
        alt="Big Data Globe"
        class="w-32 h-32 mb-8 animate-[pulse_1.2s_ease-in-out_infinite]"
      />
      <img
        src="images/fuel.webp"
        alt="Fuel svg"
        class="w-32 h-32 mb-8 animate-[wiggle_1.8s_ease-in-out_infinite]"
      />
      <img
        src="images/satellite_to_screen.webp"
        alt="Satellite to Screen Image"
        class="w-28 h-28 mb-8 animate-[pulse_1.2s_ease-in-out_infinite]"
      />
    </div>
  </div>
</section>
