---
import { getTranslations } from '../lib/i18n';
import '../styles/style.css';
const { lang = 'en', title } = Astro.props;
const t = getTranslations("es");
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
	</head>
	
	<body>
		<slot />		
	</body>
	
</html>